
.score_title{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.user_score{
    background-color: rgb(251, 251, 251);
    width: 213px;
    height: 233px;
    margin-top: 16px;
    position: relative;
    padding-top: 15px;
    
}

.user_score svg.recharts-surface {
    margin-top: 70px;
}

.user_score_container{
    margin-top: 110px;
}

.score{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    z-index: 10;
    width: 96px;
    &_percentage{
        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 26px;
    }
    &_label{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        color:  rgba(116, 121, 140, 1);
        
    }
}

.recharts-responsive-container {
    width: 159px;
    height: 159px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

