.loader-container, .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  @include flex-center;
}

.loader-container {
  opacity: 1;
  animation: fadeIn 0.5s, fadeOut 0.5s 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%, 100% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.letters{
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0%, 100% {
     color: rgb(145, 52, 52);
     text-shadow: 0 0 2px rgba(255, 1, 1, 1);
  }
  90% {
    color: rgba(255, 1, 1, 1);
    text-shadow: none;
   }
}

@for $i from 1 through 7 {
  .letters:nth-child(#{$i}) {
    animation-delay: #{percentage($i / 10) / 100}s;
  }
}